#article-display{
	height: 500px;
	display: flex;
	align-items: center;
}

.vertical-center {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */

	display: flex;
	align-items: center;
};

.product-image{
	max-width: 100%;
}

#main{
	position: relative;
}

#payment-method-frame{
	position: absolute;
	min-width: 100%;
	min-height: 100%;
}